:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);

  font-size: 28px;
  font-family: 'Manrope', sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advice-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 600px;
  background-color: var(--dark-grayish-blue);
  border-radius: 15px;
  margin: 5rem 0;
  overflow-x: hidden;
}

.advice-title p {
  font-size: 0.5rem;
  color: var(--neon-green);
  margin-top: 1.5rem;
  letter-spacing: 3px;
}

.advice-text {
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.advice-text p {
  margin: 0 0.5rem;
}

.advice-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-mobile {
  padding-bottom: 2.5rem;
}

.divider-desktop {
  display: none;
  padding-bottom: 2.5rem;
}

.generate-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  border: 0;
  background-color: var(--neon-green);
  transition: 0.5s ease-in-out;
}

.generate-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 30px 2px var(--neon-green);
}

@media screen and (min-width: 600px) {
  
  .divider-mobile {
    display: none;
  }

  .divider-desktop {
    display: block;
  }
}
